@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import "styles/reset";
@import "styles/variables";

.approutes {
    @include font-styling($coolGray, 1rem, 400);
    font-family: $ubuntu;
    background-color: $magnolia;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

@media screen and (min-width: 992px) {
    .approutes {
        /* Controlando Header, main e button */
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
            "header main"
            "header button"
        ;

        /* Cor de fundo do approutes para destacar do body */
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

        margin: 6.5rem 0;

        /* Tamanho máximo do approutes */
        width: 940px;
        max-height: 600px;
        min-height: auto;

        /* paddings laterais */
        padding: 1rem;
    }
}