@import 'styles/variables';

.footer {
    background-color: $white;

    margin-top: auto;
    
    width: 100%;



    .button__container {
        box-sizing: border-box;

        display: flex;
        align-items: center;

        max-width: 450px;
    
        margin: 0 auto;
        padding: 1rem;
    
        .button {
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: .25rem;
    
            cursor: pointer;
        
            @include font-styling($white, .875rem, 700);
            text-decoration: none;
            text-align: center;
        
            max-width: 97px;
            height: 40px;
            width: 100%;
        }
    
        .nextstep {
            background-color: $marineBlue;
            margin-left: auto;
    
            &:hover {
                background-color: $HoverMarineBlue;
            }
        }

        .confirm {
            background-color: $purplishBlue;
            margin-left: auto;
    
            &:hover {
                background-color: $hoverPurplish;
            }
        }
    
        .goback {
            display: flex;
            justify-content: center;
            align-items: center;

            background: none;
            cursor: pointer;
            @include font-styling($coolGray, .875rem, 700);
            text-decoration: none;
        
            &:hover {
                color: $marineBlue;
            }
        }
        
        // .goback_none {
        //     display: none;
        // }
    }


}


@media screen and (min-width: 992px) {
    .footer {
        .button__container {
            padding: 1rem 0;

            .button, .goback {
                font-size: 1rem;
            }
    
            .button {
                max-width: 124px;
            }
        }
    }
}