@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import "styles/reset";
@import "styles/variables";

.applayout {
    @include font-styling($coolGray, 1rem, 400);
    font-family: $ubuntu;
    background-color: $magnolia;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 992px) {
    .applayout {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
            "header main"
            "header button"
        ;

        background-color: white;
        border-radius: 1rem;

        max-width: 940px;
        max-height: 600px;
        width: 100%;
        height: 100%;

        padding: 1rem;

        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    }
}