//Colors
//Primary
$marineBlue: hsl(213, 96%, 18%);
$purplishBlue: hsl(243, 100%, 62%);
$pastelBlue: hsl(228, 100%, 84%);
$lightBlue: hsl(206, 94%, 87%);
$strawberryRed: hsl(354, 84%, 57%);
//Neutral
$coolGray: hsl(231, 11%, 63%);
$lightGray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

//Fonts
$ubuntu: 'Ubuntu', sans-serif;

//Mixins
@mixin font-styling($color, $font-size, $font-weight) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
}