@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import "./reset";
@import "./variables";

body {
    background-color: $magnolia;
}

@media screen and (min-width: 992px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
}
