@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import "./reset";
@import "./variables";

body {
    font-family: $ubuntu;
    font-size: 1rem;
    font-weight: 400;
    box-sizing: border-box;
    min-height: 100vh;
}

@media screen and (min-width: 992px) {
    #root {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}