@import "styles/variables";

.thanksyou__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 3rem 0;

    .icon {
        width: 56px;
        height: 56px;

        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    .thanksyou__container {
        margin: 7.5rem 0;

        .icon {
            margin-bottom: 2rem;
        }
    }
}