@import "styles/variables";

.plan__card__container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    
    .plan__card {
        display: flex;
        align-items: flex-start;
    
        border: 1px solid $lightGray;
        border-radius: .5rem;
    
        gap: .875rem;
    
        padding: 1rem;
    
        &:hover {
            border-color: $hoverPurplish ;
            cursor: pointer;
        }
    
        .container__card {
            .plan__name {
                @include font-styling($marineBlue, 1rem, 700);
                margin-bottom: .375rem;
            }
    
            .plan__value {
                @include font-styling($coolGray, .875rem, 500);
                margin-bottom: .5rem;
            }

            .plan__discount {
                @include font-styling($marineBlue, .75rem, 400);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .plan__card__container {
        flex-direction: row;
        justify-content: space-between;

        .plan__card {
            box-sizing: border-box;
            align-items: flex-start;
            flex-direction: column;
            
            gap: 40px;
    
            max-width: 136px;
            width: 100%;
        }
    }
}