@import "styles/variables";

.container__input {
    display: flex;
    flex-direction: column;

    .label {
        @include font-styling($marineBlue, .75rem, 500);
        margin-bottom: .25rem;
    }

    .input {
        outline: none;
        border: 1px solid $lightGray;
        border-radius: 4px;
        box-sizing: border-box;

        @include font-styling($marineBlue, 14px, 700);

        height: 40px;

        padding: 0 .875rem;

        &:focus {
            border-color: $hoverPurplish;
        }

        &::placeholder {
            @include font-styling($coolGray, 14px, 700);
        }
    }
}

@media screen and (min-width:992px) {
    .container__input {
        .label {
            font-size: .875rem;
            margin-bottom: .5rem;
        }
    
        .input {
            font-size: 1rem;
            height: 48px;
            padding: 0 1rem;
    
            &::placeholder {
                font-size: 1rem;
            }
        }
    }
}