@import 'styles/variables';

.finishingup__selectedoptions {
    background-color: $alabaster;
    border-radius: .50rem;
    
    padding: 1.25rem 1rem;
    margin-bottom: 1.75rem;

    .selectedoptions__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .875rem;

        &:nth-of-type(4) {
            margin-bottom: 0;
        }

        .info__container {
            .selectedplan {
                @include font-styling($marineBlue, .875rem, 500);
                margin-bottom: 4px;
            }

            .selectedplan__change {
                @include font-styling('', .875rem, 500);
                color: $coolGray;
                text-decoration: underline;
            }
        }

        
        .selectedplan__info, .selectedplan__addons__value, .selectedplan__plan__value {
            @include font-styling('', .875rem, 500);
        }
        
        .selectedplan__plan__value {
            color: $marineBlue;
        }
        
        .selectedplan__addons__value {
            color: $marineBlue;
        }
    }

    .line {
        height: 1px;
        background-color: $lightGray;
        margin-bottom: .875rem;
    }
}

.total__container {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    .selectedplan__info {
        @include font-styling('', .875rem, 500);
    }

    .selectedplan__addons__value {
        @include font-styling($purplishBlue, 1rem, 700);
    }
}

@media screen and (min-width: 992px) {
    .finishingup__selectedoptions {
        padding: 1.25rem 1.5rem;
    
        .selectedoptions__container {
            margin-bottom: 1.5rem;
    
            .info__container {
                .selectedplan {
                    font-size: 1rem;
                    margin-bottom: 6px;
                }
            }

            .selectedplan__plan__value {
                font-size: 1rem;
            }
        }
    
        .line {
            margin-bottom: 1.25rem;
        }
    }
    
    .total__container {
        padding: 0 1.5rem;

        .selectedplan__addons__value {
            font-size: 1.25rem;
        }
    }
}