@import 'styles/variables';

.finishingup {
    background-color: $alabaster;
    border-radius: .50rem;
    
    padding: 1.25rem 1rem;
    margin-bottom: 1.75rem;

    .finishingup__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .875rem;

        &:nth-of-type(4) {
            margin-bottom: 0;
        }

        .selected__container {
            .plan {
                @include font-styling($marineBlue, .875rem, 500);
                margin-bottom: 4px;
            }

            .change {
                @include font-styling('', .875rem, 500);
                color: $coolGray;
                text-decoration: underline;

                &:hover {
                    font-weight: 700;
                    color: $hoverPurplish;
                    cursor: pointer;
                }
            }
        }

        
        .plan__info, .addons__value, .plan__value {
            @include font-styling('', .875rem, 500);
        }
        
        .plan__value {
            color: $marineBlue;
            font-weight: 700;
        }
        
        .addons__value {
            color: $marineBlue;
        }
    }

    .line {
        display: block;
        height: 1px;
        background-color: $lightGray;
        margin-bottom: .875rem;
    }
}

.total__container {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    .plan__info {
        @include font-styling('', .875rem, 500);
    }

    .addons__value {
        @include font-styling($purplishBlue, 1rem, 700);
    }
}

@media screen and (min-width: 992px) {
    .finishingup {
        padding: 1.25rem 1.5rem;
    
        .finishingup__container {
            margin-bottom: 1.5rem;
    
            .selected__container {
                .plan {
                    font-size: 1rem;
                    margin-bottom: 6px;
                }
            }

            .plan__value {
                font-size: 1rem;
            }
        }
    
        .line {
            margin-bottom: 1.25rem;
        }
    }
    
    .total__container {
        padding: 0 1.5rem;

        .addons__value {
            font-size: 1.25rem;
        }
    }
}