@import "styles/variables";

.title {
    @include font-styling($marineBlue, 1.5rem, 700);
    margin-bottom: .875rem;
}

.paragraph {
    line-height: 154.9%;
    margin-bottom: 1.5rem;
    max-width: 246px;
}

@media screen and (min-width:425px) {
    .paragraph {
        margin-bottom: 2.5rem;
        max-width: max-content;
    }
}

@media screen and (min-width:992px) {
    .title {
        font-size: 2rem;
        margin-bottom: .875rem;
    }
}