@import "styles/variables";

.header {
    grid-area: header;
    
    box-sizing: border-box;
    background-image: url(./bg-sidebar-mobile.svg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size:cover;
    height: 172px;

    padding: 2rem 1rem 0 1rem;

    .nav {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .li {
            display: flex;
            gap: 1rem;

            list-style: none;

            .navlink {
                @include font-styling($white, .875rem, 700);
                text-decoration: none;
                
                display: flex;
                align-items: center;
                justify-content: center;

                border: 1px solid $white;
                border-radius: 100%;

                width: 32px;
                height: 32px;
            }

            .active {
                background-color: $lightBlue;
                border-color: $lightBlue;
                color: $marineBlue;
            }

            .step__section {
                display: none;

                .step__number {
                    @include font-styling($pastelBlue, .75rem, 400);
                    text-transform: uppercase;
                    margin-bottom: .375rem;
                }
    
                .step__name {
                    @include font-styling($white, .875rem, 700);
                    text-transform: uppercase;
                    letter-spacing: .0612rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        background-position: 50% 40%;
    }
}

@media screen and (min-width: 992px) {
    .header {    
        background-image: url(./bg-sidebar-desktop.svg);
        height: 568px;
        width: 274px;
    
        padding: 2.5rem 2rem 0 2rem;

        .nav {
            flex-direction: column;
            gap: 2rem;
            
            .li {   
                .step__section {
                    display: block;
                }
            }
        }
    }
}