@import "styles/variables";

.header {
    grid-area: header;
    
    background-image: url(./bg-sidebar-mobile.svg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size:cover;
    height: 172px;

    padding: 2rem 1rem 0 1rem;

    .nav {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .li {
            display: flex;
            align-items: center;
            gap: 1rem;

            .navlink {
                text-decoration: none;

                display: flex;
                align-items: center;
                justify-content: center;

                border: 1px solid $white;
                border-radius: 100%;
                color: $white;
                font-size: .875rem;
                font-weight: 700;
                text-decoration: none;

                width: 40px;
                height: 40px;
            }

            .active {
                background-color: $lightBlue;
                border-color: $lightBlue;
                color: $marineBlue;
            }

            .step__section {
                display: none;

                .step__number {
                    text-transform: uppercase;
                    color: $pastelBlue;
                    font-size: .75rem;
                    font-weight: 400;
    
                    margin-bottom: .5rem;
                }
    
                .step__name {
                    text-transform: uppercase;
                    color: $white;
                    font-size: .875rem;
                    font-weight: 700;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .header {    
        background-image: url(./bg-sidebar-desktop.svg);
        height: 100vh;
        width: 274px;
    
        padding: 2.5rem 2rem 0 2rem;

        .nav {
            flex-direction: column;
            gap: 2rem;
            
            .li {   
                .step__section {
                    display: block;
                }
            }
        }
    }
}




/*

.header {
    background-image: url(./bg-sidebar-mobile.svg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size:cover;
    height: 172px;

    padding: 2rem 1rem 0 1rem;

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        &__navlink {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            text-decoration: none;

            &__number {
                display: flex;
                align-items: center;
                justify-content: center;

                border: 1px solid $white;
                border-radius: 100%;
                color: $white;
                font-size: .875rem;
                font-weight: 700;
                text-decoration: none;

                width: 40px;
                height: 40px;
                
            }
            
            &__active {
                background-color: $lightBlue;
                border: none;
                color: $marineBlue;
            }
            
            &__text {
                display: none;
                color: $white;
                font-size: .875rem;
                font-weight: 700;
            }
            
        }

    }
}

@media screen and (min-width: 992px) {
    .header {
        &__nav {
            &__navlink {
                &__text {
                    display: flex;
                }
            }
        }
    }
}

*/