@import "styles/variables";

.container__personalInfo {
    .title {
        @include font-styling($marineBlue, 1.5rem, 700);
        margin-bottom: .875rem;
    }

    .paragraph {
        margin-bottom: 1.5rem;
        max-width: 232px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (min-width:425px) {
    .container__personalInfo {
        .paragraph {
            margin-bottom: 1.5rem;
            max-width: 90%;
        }
    }
}

@media screen and (min-width:992px) {
    .container__personalInfo {
        .title {
            font-size: 2rem;
            margin-bottom: .875rem;
        }
    
        .paragraph {
            margin-bottom: 2.5rem;
            max-width: max-content;
        }
    
        .form {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }
}