@import "styles/variables";

.plan__card__container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

@media screen and (min-width: 768px) {
    .plan__card__container {
        flex-direction: row;
        justify-content: space-between;
    }
}